<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/style.css">
        <!--    ICONS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
      <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
      <!--  Icons --->
      <link rel="stylesheet" href="/public/css/apropos.css">
</head>
<body>
    <header>
        <div class="premierept">
          <div class="add">
              <i class="bx bx-map">
          </i> 
          <p> 30 rue des Graves bât B, 31780 Castelginest  </p>
          </div>
        <div class="add">
            <i class="bx bx-time">
          </i>  <p> Dépannage 24h/24et 7j/7.</p>
        </div>
        
          <a href="tel: 07 81 88 21 30" class="phone">
            <i class="bx bx-phone"></i>
            <p>06.41.08.58.11</p>
          </a>
        </div>
    
        <div class="secondpt">
          <a href="/">
            <img src='/public/img/elec-appli.png'  alt=""  class="logo"/>
           
          </a>
    
          <nav>
            <ul>
              <li>
                <a href="/" class="acc">Accueil</a>
              </li>
              <li>
                <a href="/services" class="pareil">Services</a>
              </li>
    
              <li>
                <a href="/apropos"  class="pareil">A Propos</a>
              </li>
    
              <li>
                <a href="/avis"  class="pareil">Avis</a>
              </li>
    
              <li>
                <a href="/contact"  class="pareil">Contact</a>
              </li>
            </ul>
          </nav>
       

    
        </nav>
          <a href="" class="depa">
           
            <i class="bx bx-bell"></i>
            Dépanage
          </a>
        </div>
      </header>
    

      <section id="a-propos">
        <div class="container">
          <h2>À Propos de Notre Entreprise</h2>
          <div class="content">
          
            <div class="text-container">
              <p>Notre entreprise d'électricité a été fondée en Mai 2016 par Placide Fagoua, un électricien passionné par son métier. Depuis lors, nous avons développé une solide réputation en fournissant des services électriques de qualité supérieure à nos clients. Notre objectif est de garantir la sécurité électrique et de répondre aux besoins énergétiques de nos clients, qu'il s'agisse de particuliers ou d'entreprises.</p>
              <p>Nous sommes une entreprise d'électricité spécialisée dans la fourniture de services électriques de haute qualité pour les résidences, les commerces et les entreprises. Avec une équipe d'électriciens expérimentés et qualifiés, nous sommes engagés à fournir des solutions électriques sûres, efficaces et durables.</p>
              <p>Notre engagement envers l'excellence se reflète dans chaque projet que nous réalisons. Que ce soit pour une nouvelle installation électrique, une rénovation, une réparation ou un dépannage, nous accordons une attention méticuleuse aux détails, à la sécurité et à la satisfaction de nos clients.</p>
              <p>Nous sommes fiers de notre expertise technique, de notre service client de premier ordre et de notre réputation solide dans l'industrie électrique. En collaborant avec nous, vous bénéficiez d'une équipe fiable, professionnelle et compétente qui s'engage à fournir des résultats exceptionnels.</p>
              <p>Contactez-nous dès aujourd'hui pour discuter de vos besoins électriques et découvrir comment nous pouvons vous aider à réaliser vos projets en toute confiance.
               
              </p> <a href="./contact" class="cta-button">Contactez-nous</a>
            </div> 
             <div class="image-container">
              <img src="./public/img/elec-appli.png" class="logo golo" alt="Notre Entreprise">
              <img src="../public/img/eiffage-energie-electronique_2_1.jpg"  class="elec"alt="">
            </div>
          </div>
        </div>
      </section>


      <footer>
        <div class="foot">
          <div class="gol">
            <img src="./public/img/elec-appli.png" alt="" class="app">
          </div>
          <div class="footer-links">
            <ul class="toof">
              <li><a href="./" class="pareil">Accueil</a></li>
              <li><a href="./services" class="pareil">Services</a></li>
              <li><a href="./apropos" class="pareil">A propos</a></li>
              <li><a href="./contact" class="pareil">Contact</a></li>
            </ul>
          </div>
          <div class="footer-contact">
            
            <p>Adresse : 30 rue des Graves bât B, 31780 Castelginest</p>
            <p>Téléphone :  06.41.08.58.11</p>
            <p>Email : fagoua_placide@hotmail.com</p>
          </div>
       
        </div>
        <div class="footer-bottom">
          <p>&copy; 2023 ELEC APPLICATION ETINGENIERIE - Tous droits réservés</p>
        </div>
      </footer>

      <script src="/public/js/script.js"></script>
</body>
</html>