<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/style.css">
        <!--    ICONS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
      <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
      <!--  Icons --->
      <link rel="stylesheet" href="/public/css/apropos.css">
</head>

<header>
  <div class="premierept">
   <div class="add">
       <i class="bx bx-map">
   </i> 
   <p> 30 rue des Graves bât B, 31780 Castelginest  </p>
   </div>
 <div class="add">
     <i class="bx bx-time">
   </i>  <p> Dépannage 24h/24et 7j/7.</p>
 </div>
 
   <a href="tel: 07 81 88 21 30" class="phone">
     <i class="bx bx-phone"></i>
     <p>06.41.08.58.11</p>
   </a>
 </div>

 <div class="secondpt">
   <a href="/" class="boss">
     <img src='/public/img/elec-appli.png'  alt=""  class="logo"/>
   </a>

   <input type="checkbox" id="toggle" class="freezer">

   <nav>
     <label class="navbar-toggler" for="toggle">
         <span class="bar"></span>
         <span class="bar"></span>
         <span class="bar"></span>
     </label>

     <ul class="nav-list">
         <li class="nav-item">
           <a href="/" class="pareil">Home</a>
            
         </li>
         <li class="nav-item">
           <a href="./services" class="pareil">Service</a>
             
         </li>
         <li class="nav-item">
           <a href="./apropos" class="pareil">A Propos</a>
            
         </li>
         <li class="nav-item">
           <a href="./avis" class="pareil">Avis</a>
             
         </li>
         <li class="nav-item">
           <a href="./contact" class="pareil">Contact</a>
         </li>
     </ul>

 </nav>



 <div class="scorpion">
   <i class='bx bx-moon' id="icon"></i>
 </div>

 
  

 </div>  
</header>
