<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/style.css">
        <!--    ICONS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
      <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
      <!--  Icons --->
  <title>Elec Appli</title>
</head>
<body>
  
  <header>
    <div class="premierept">
      <div class="add">
          <i class="bx bx-map">
      </i> 
      <p> 30 rue des Graves bât B, 31780 Castelginest  </p>
      </div>
    <div class="add">
        <i class="bx bx-time">
      </i>  <p> Dépannage 24h/24et 7j/7.</p>
    </div>
    
      <a href="tel: 07 81 88 21 30" class="phone">
        <i class="bx bx-phone"></i>
        <p>06.41.08.58.11</p>
      </a>
    </div>

    <div class="secondpt">
      <a href="/">
        <img src='/public/img/elec-appli.png'  alt=""  class="logo"/>
       
      </a>

      <nav>
        <ul>
          <li>
            <a href="/" class="acc">Accueil</a>
          </li>
          <li>
            <a href="/services" class="pareil">Services</a>
          </li>

          <li>
            <a href="/apropos"  class="pareil">A Propos</a>
          </li>

          <li>
            <a href="/avis"  class="pareil">Avis</a>
          </li>

          <li>
            <a href="/contact"  class="pareil">Contact</a>
          </li>
        </ul>
      </nav>
      <button class="toggle-button" onclick="toggleDarkMode()">
        <i class='bx bx-moon'></i>
       </button>
     
      

    </nav>
      <a href="" class="depa">
       
        <i class="bx bx-bell"></i>
        Dépanage
      </a>
    </div>
  </header>


  <section id="accueil">
    <div class="container">
      <h2>Expertise en Électricité pour Tous Vos Besoins</h2>
      <p>Bienvenue chez Elec Apllication et Ingénierie, votre partenaire fiable et compétent en matière d'électricité. Nous sommes spécialisés dans la fourniture de solutions électriques de haute qualité pour les projets résidentiels, commerciaux et industriels. Notre équipe d'électriciens qualifiés et expérimentés est dévouée à offrir un service exceptionnel à nos clients.</p>
      <div class="services-list">
        <div class="service">
          <img src="/public/img/comment-concevoir-une-installation-electrique-aux-normes.jpg" alt="Service 1">
          <h3>Installation Électrique</h3>
          <p>Nous réalisons des installations électriques complètes pour les nouvelles constructions, les rénovations et les extensions. Notre équipe s'assure que tous les câblages, les prises de courant, les interrupteurs et les systèmes de distribution sont installés selon les normes de sécurité les plus élevées.</p>
        </div>
        <div class="service">
          <img src="/public/img/depannage-electrique.jpg" alt="Service 2">
          <h3>Dépannage et Réparations</h3>
          <p>Nos électriciens sont disponibles pour les dépannages électriques d'urgence et les réparations. Que ce soit pour résoudre un court-circuit, remplacer un disjoncteur défectueux ou réparer un système d'éclairage, nous sommes là pour vous aider rapidement et efficacement.</p>
        </div>
        <div class="service">
          <img src="/public/img/Mises à Niveau Énergétiques.jpg" alt="Service 3">
          <h3>Mises à Niveau Énergétiques</h3>
          <p>Nous proposons des solutions d'économie d'énergie et de mises à niveau énergétiques pour réduire votre consommation électrique et optimiser l'efficacité énergétique de votre bâtiment. Que ce soit l'installation de panneaux solaires, l'éclairage LED ou la gestion intelligente de l'énergie, nous avons les compétences nécessaires pour vous aider.</p>
        </div>
      </div>
      <a href="/services" class="cta-button">Découvrez Nos Services</a>
    </div>
  </section>


  <section id="a-propos">
    <h2>A propos</h2>

    <h3 class="svg">Nous intervenons auprès des Particuliers et Professionnels</h3>

    <p>Nous intervenons sur tout type d’installation électrique:</p>

    <ul class="serv">
      <li>
        Courant fort
      </li>
      <li>
        Courant faible
      </li>
      <li>
         Maintenance
      </li>
      <li>
          Dépannage
      </li>
      <li>
         Sécurité
      </li>
    </ul>
      
      
     
    
     
      
        <a href="/services"class="cta-button vp">
             Voir plus
        </a>
     
   <!--

  
   <div class="service">
      <i class="fas fa-bolt"></i>
      <h3>Courant fort</h3>
      <p>Prises de courant, chauffage électrique, borne de recharge de véhicules électriques, machines outils… Notre mission est de garantir le bon fonctionnement et la sécurité de ces installations avant, pendant et après notre intervention.</p>
    </div>
    <div class="service">
      <i class="fas fa-signal"></i>
      <h3>Courant faible</h3>
      <p>Toute installation transmettant de la Voix, de la Donnée, de l’Image (VDI) : télévision, parlophone et vidéophone, réseau informatique (RJ45), vidéosurveillance, alarme d’intrusion et incendie, domotique intérieur et extérieur…</p>
    </div>
    <div class="service">
      <i class="fas fa-tools"></i>
      <h3>Maintenance</h3>
      <p>Entretien périodique préventif et/ou correctif effectué auprès des entreprises, afin qu’elles soient en règle vis-à-vis des obligations légales en matière de sécurité : alarmes d’incendie, éclairages, portails automatiques… En outre, une bonne maintenance permet de se prémunir durablement de dysfonctionnements éventuels.</p>
    </div>
    <div class="service">
      <i class="fas fa-wrench"></i>
      <h3>Dépannage</h3>
      <p>Toute panne électrique, quelle qu’elle soit. Pour les entreprises, nous intervenons dans l’heure, dans toutes les Alpes-Maritimes. Pour les particuliers, nos équipes interviennent entre 1 et 24h selon l’urgence, à Antibes et ses environs (Valbonne, Biot, Sophia-Antipolis). Nous pouvons également effectuer une assistance par téléphone.</p>
    </div>
    <div class="service">
      <i class="fas fa-shield-alt"></i>
      <h3>Sécurité</h3>
      <p>Installation d’alarmes de sécurité : intrusion, incendie et vidéosurveillance. Pour l’incendie, nous installons des détecteurs de fumée pour les particuliers et des systèmes autonomes d’alarme incendie pour les entreprises. Pour l’intrusion, nous installons des systèmes de détection de mouvement et des contacts d’ouverture pour les portes et fenêtres. Pour la vidéosurveillance, nous installons des caméras connectées à distance.</p>
    </div> -->
  </section>


  <section class="devis">
    <h2>Devis Gratuit</h2>
    <form>
      <input type="text" name="nom" placeholder="Votre nom" required>
      <input type="email" name="email" placeholder="Votre adresse e-mail" required>
      <textarea name="message" placeholder="Votre message" required></textarea>
      <button type="submit">Envoyer</button>
    </form>
  </section>

  
  <section id="contact">
     <h2 class="ct">Contactez-nous</h2>
    <div class="container">
      <div class="contact-info">
       
        <p>Pour toute demande de renseignements ou pour prendre rendez-vous, n'hésitez pas à nous contacter ,Vous pouvez nous appeler au 04 93 33 15 78 ou nous rendre visite dans nos locaux.
          Nous sommes ouverts au public du lundi au vendredi de 8h30 à 12h et de 14h30 à 18h (vendredi 17h).</p>
        <ul>
          <li><i class="fas fa-map-marker-alt"></i> 30 rue des Graves bât B, 31780 Castelginest</li>
          <li><i class="fas fa-phone-alt"></i>  06.41.08.58.11</li>
          <li><i class="fas fa-envelope"></i> fagoua_placide@hotmail.com</li>
        </ul>
      </div>
    
      <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2888.570160008825!2d1.3910713156542557!3d43.69325526490895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12aeb4f24910b639%3A0x77b9e12e6a41f0c9!2s30%20Rue%20des%20Graves%20B%C3%A2t%20B%2C%2031780%20Castelginest%2C%20France!5e0!3m2!1sen!2sus!4v1625659880286!5m2!1sen!2sus" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>
  </section>
  

  <footer>
    
    <div class="foot">
      <div class="gol">
        <img src="/public/img/elec-appli.png" alt="" class="app">
      </div>
      <div class="footer-links">
        <ul class="toof">
          <li><a href="/index">Accueil</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/apropos">A propos</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="footer-contact">
        
        <p>Adresse : 30 rue des Graves bât B, 31780 Castelginest</p>
        <p>Téléphone :  06.41.08.58.11</p>
        <p>Email : fagoua_placide@hotmail.com</p>
      </div>
   
    </div>
    <div class="footer-bottom">
      <p>&copy; 2023 ELEC APPLICATION ETINGENIERIE - Tous droits réservés</p>
    </div>
  </footer>
</body>
</html>