<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="site de elec appli meilleur companie d'éléctricité">
<meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="/public/css/style.css">
        <!--    ICONS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
      <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
      <!--  Icons --->
  <title>Elec Appli</title>
</head>
<body>
 
  <header>
     <div class="premierept">
      <div class="add">
          <i class="bx bx-map">
      </i> 
      <p> 30 rue des Graves bât B, 31780 Castelginest  </p>
      </div>
    <div class="add">
        <i class="bx bx-time">
      </i>  <p> Dépannage 24h/24et 7j/7.</p>
    </div>
    
      <a href="tel: 07 81 88 21 30" class="phone">
        <i class="bx bx-phone"></i>
        <p>06.41.08.58.11</p>
      </a>
    </div>

    <div class="secondpt">
      <a href="/" class="boss">
        <img src='/public/img/elec-appli.png'  alt=""  class="logo"/>
      </a>

      <input type="checkbox" id="toggle" class="freezer">

      <nav>
        <ul class="nav-list mobile-nav">
            <li class="nav-item">
              <a href="/" class="pareil">Accueil</a>
               
          </li>
            <li class="nav-item">
              <a href="./services" class="pareil">Services</a>
                
            </li>
            <li class="nav-item">
              <a href="./apropos" class="pareil"> À Propos</a>
               
            </li>
            <li class="nav-item">
              <a href="./avis" class="pareil">Avis</a>
                
            </li>
            <li class="nav-item">
              <a href="./contact" class="pareil">Contact</a>
            </li>
        </ul>


        <button class="hamburger ">
          <div class="bar"></div>
        </button>
    </nav>
    </div>  
  </header>


  <section id="accueil">
    <div class="container">
      <h2 class="titre2">Expertise en Électricité pour Tous Vos Besoins</h2>
      <p class="up">Bienvenue chez Elec Apllication et Ingénierie, votre partenaire fiable et compétent en matière d'électricité. Nous sommes spécialisés dans la fourniture de solutions électriques de haute qualité pour les projets résidentiels, commerciaux et industriels. Notre équipe d'électriciens qualifiés et expérimentés est dévouée à offrir un service exceptionnel à nos clients.</p>
      <div class="services-list">
        <div class="service">
          <img src="/public/img/comment-concevoir-une-installation-electrique-aux-normes.jpg" alt="Service 1" class="install">
          <h3>Installation Électrique</h3>
          <p>Nous réalisons des installations électriques complètes pour les nouvelles constructions, les rénovations et les extensions. Notre équipe s'assure que tous les câblages, les prises de courant, les interrupteurs et les systèmes de distribution sont installés selon les normes de sécurité les plus élevées.</p>
        </div>
        <div class="service">
          <img src="/public/img/depannage-electrique.jpg" alt="Service 2" class="dep">
          <h3>Dépannage et Réparations</h3>
          <p>Nos électriciens sont disponibles pour les dépannages électriques d'urgence et les réparations. Que ce soit pour résoudre un court-circuit, remplacer un disjoncteur défectueux ou réparer un système d'éclairage, nous sommes là pour vous aider rapidement et efficacement.</p>
        </div>
        <div class="service">
          <img src="/public/img/Mises à Niveau Énergétiques.jpg" alt="Service 3" class="mise">
          <h3 class="ab">Mises à Niveau Énergétiques</h3>
          <p>Nous proposons des solutions d'économie d'énergie et de mises à niveau énergétiques pour réduire votre consommation électrique et optimiser l'efficacité énergétique de votre bâtiment. Que ce soit l'installation de panneaux solaires, l'éclairage LED ou la gestion intelligente de l'énergie, nous avons les compétences nécessaires pour vous aider.</p>
        </div>
      </div>
      <a href="/services" class="cta-button dec">Découvrez Nos Services</a>
    </div>
  </section>


  <section id="a-propos">
    <h2>A propos</h2>
    <h3 class="svg">Nous intervenons auprès des Particuliers et Professionnels</h3>
    <p>Nous intervenons sur tout type d'installation électrique:</p>

    <ul class="serv">
      <li>
        Courant fort
      </li>
      <li>
        Courant faible
      </li>
      <li>
         Maintenance
      </li>
      <li>
          Dépannage
      </li>
      <li>
         Sécurité
      </li>
    </ul>
    <a href="/services"class="cta-button vp">Voir plus</a>
     
  
  <section class="devis">
    <h2>Devis Gratuit</h2>
    <form method="POST">
      <input type="text" name="nom" placeholder="Votre nom" required>
      <input type="email" name="email" placeholder="Votre adresse e-mail" required>
      <input type="number" name="tel" id="tel" placeholder="Numéro de téléphone" required>
      <textarea name="message" placeholder="Votre message" required></textarea>
      <button type="submit">Envoyer</button>
      <div class="popup" id="popup">
        <img src="/public/img/check.jpg" alt="">
        <h2>Merci!</h2>
        <p>Votre devis a été recu avec succcès!</p>
        <button type="button" onclick="closePopup()">OK</button>
      </div>
    </form>
    <% if (typeof message_envoyer !== 'undefined') { %>
      <p id="message_envoyer"><%= message_envoyer %></p>  
  <% } %>  
  </section>

  
  <section id="contact">
     <h2 class="ct">Contactez-nous</h2>
    <div class="container">
      <div class="contact-info">
       
        <p class="br">Pour toute demande de renseignements ou pour prendre rendez-vous, n'hésitez pas à nous contacter. Vous pouvez nous appeler au  06.41.08.58.11.
     </p>
        <ul>
          <li><i class="bx bx-map"></i> 30 rue des Graves bât B, 31780 Castelginest</li>
          <li><i class="bx bx-phone"></i>  06.41.08.58.11</li>
          <li><i class='bx bx-envelope'></i> fagoua_placide@hotmail.com</li>
        </ul>
      </div>

      <div class="skyland">
     
      </div>
    </div>
  </section>
  
   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2884.868375464796!2d1.4372559751834526!3d43.69249974988975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12aea4093d3fa371%3A0x5fcc439810df4b2d!2s30%20Rue%20des%20Graves%2C%2031780%20Castelginest!5e0!3m2!1sfr!2sfr!4v1688320006055!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  <footer>
    
    <div class="foot">
      <div class="gol">
        <img src="/public/img/elec-appli.png" alt="" class="app">
      </div>
      <div class="footer-links">
        <ul class="toof">
          <li><a href="./" class="pareil" >Accueil</a></li>
          <li><a href="/services" class="pareil">Services</a></li>
          <li><a href="/apropos" class="pareil"> À Propos</a></li>
          <li><a href="/avis" class="pareil"> Avis</a></li>
          <li><a href="/contact" class="pareil">Contact</a></li>
        </ul>
      </div>
      <div class="footer-contact">
        
        <p>Adresse : 30 rue des Graves bât B, 31780 Castelginest</p>
        <p>Téléphone :  06.41.08.58.11</p>
        <p class="liame">Email : fagoua_placide@hotmail.com</p>
      </div>
   
    </div>
    <div class="footer-bottom">
      <p>&copy; 2023 ELEC APPLICATION ETINGENIERIE - Tous droits réservés</p>
    </div>
  </footer>
  <script src="/public/js/index.js"></script>
</body>
</html>