<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="site de elec appli meilleur companie d'éléctricité"
    />
    <meta name="theme-color" content="#ffffff" />
    <title>Document</title>
    <!--    ICONS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.8/css/line.css"
    />
    <!--  Icons --->
    <link rel="stylesheet" href="./public/css/style.css" />
    <link rel="stylesheet" href="./public/css/services.css" />
  </head>
  <body>
    <header>
      <div class="premierept">
        <div class="add">
          <i class="bx bx-map"> </i>
          <p>30 rue des Graves bât B, 31780 Castelginest</p>
        </div>
        <div class="add">
          <i class="bx bx-time"> </i>
          <p>Dépannage 24h/24et 7j/7.</p>
        </div>

        <a href="tel: 07 81 88 21 30" class="phone">
          <i class="bx bx-phone"></i>
          <p>06.41.08.58.11</p>
        </a>
      </div>

      <div class="secondpt">
        <a href="/" class="boss">
          <img src="/public/img/elec-appli.png" alt="" class="logo" />
        </a>

        <input type="checkbox" id="toggle" class="freezer" />

        <nav>
          <ul class="nav-list mobile-nav">
            <li class="nav-item">
              <a href="/" class="pareil">Accueil</a>
            </li>
            <li class="nav-item">
              <a href="./services" class="pareil">Services</a>
            </li>
            <li class="nav-item">
              <a href="./apropos" class="pareil"> À Propos</a>
            </li>
            <li class="nav-item">
              <a href="./avis" class="pareil">Avis</a>
            </li>
            <li class="nav-item">
              <a href="./contact" class="pareil">Contact</a>
            </li>
          </ul>

          <button class="hamburger">
            <div class="bar"></div>
          </button>
        </nav>
      </div>
    </header>

    <section id="services">
      <div class="container">
        <h2>Les services d'ELEC APPLICATION ET INGENIERIE</h2>
        <p>Sérieux, rapide & efficace</p>
        <p>
          Découvrez l'ensemble de nos services pour les particuliers et les
          professionnels. Nous intervenons dans toutes les Alpes-Maritimes pour
          des travaux d'installation, de rénovation, de maintenance et de
          dépannage. Avec Sodex, pas de stress ! Vous avez l'assurance d'un
          prestataire sérieux, rapide et efficace.
        </p>
        <p>06.41.08.58.11</p>
      </div>
    </section>

    <section id="services " class="tortank">
      <div class="container">
        <h2>Nos services</h2>

        <div class="cour">
          <div class="gauche">
            <h3>Courant fort</h3>
            <p>
              Prises de courant, chauffage électrique, borne de recharge de
              véhicules électriques, machines outils… Notre mission est de
              garantir le bon fonctionnement et la sécurité de ces installations
              avant, pendant et après notre intervention.
            </p>
          </div>
          <div class="cf">
            <img src="/public/img/courantfort.jpg" alt="" class="cf" />
          </div>
          <div class="droite">
            <h3>Courant faible</h3>
            <p>
              Toute installation transmettant de la Voix, de la Donnée, de
              l’Image (VDI) : télévision, parlophone et vidéophone, réseau
              informatique (RJ45), vidéosurveillance, alarme d’intrusion et
              incendie, domotique intérieur et extérieur…
            </p>
          </div>
          <div class="cf">
            <img src="/public/img/courant-faible.jpg" alt="" class="cf" />
          </div>
        </div>

        <div class="cour">
          <div class="gauche">
            <h3>Maintenance</h3>
            <p>
              Entretien périodique préventif et/ou correctif effectué auprès des
              entreprises, afin qu’elles soient en règle vis-à-vis des
              obligations légales en matière de sécurité : alarmes d’incendie,
              éclairages, portails automatiques… En outre, une bonne maintenance
              permet de se prémunir durablement de dysfonctionnements éventuels.
            </p>
          </div>
          <div class="cf">
            <img
              src="/public/img/technicien-de-maintenance-e.jpg"
              alt=""
              class="cf"
            />
          </div>
          <div class="droite">
            <h3>Dépannage</h3>
            <p>
              Toute panne électrique, quelle qu’elle soit. Notament les
              appareils électroménagés comme la Télévison , lave-vaiselle et
              autres. Nous pouvons également effectuer une assistance par
              téléphone.
            </p>
          </div>
          <div class="cf">
            <img src="/public/img/depanne.jpg" alt="" class="cf" />
          </div>
          <div class="gauche">
            <h3>Sécurité</h3>
            <p>
              Installation d’alarmes de sécurité : intrusion, incendie et
              vidéosurveillance. Pour l’incendie, nous installons des détecteurs
              de fumée pour les particuliers et des systèmes autonomes d’alarme
              incendie pour les entreprises. Pour l’intrusion, nous installons
              des systèmes de détection de mouvement et des contacts d’ouverture
              pour les portes et fenêtres. Pour la vidéosurveillance, nous
              installons des caméras connectées à distance.
            </p>
          </div>
          <div class="cf">
            <img src="/public/img/securite.jpg" alt="" class="cf" />
          </div>
        </div>

        <a href="/contact" class="cta-button nc">Nous contacter</a>
      </div>
    </section>

    <section id="why-us">
      <div class="container">
        <h2>Pourquoi nous ?</h2>

        <div class="feature">
          <i class="fas fa-check"></i>
          <p>Expérimentés et compétents.</p>
        </div>
        <div class="feature">
          <i class="fas fa-check"></i>
          <p>Formés aux normes électriques.</p>
        </div>
        <div class="feature">
          <i class="fas fa-check"></i>
          <p>Formés à la sécurité.</p>
        </div>
        <div class="feature">
          <i class="fas fa-check"></i>
          <p>Ponctuels et fiables.</p>
        </div>
        <div class="feature">
          <i class="fas fa-check"></i>
          <p>Respectueux des lieux d'intervention.</p>
        </div>
        <div class="feature">
          <i class="fas fa-check"></i>
          <p>Sensibilisés à la relation client.</p>
        </div>
        <div class="feature">
          <i class="fas fa-check"></i>
          <p>Attachés à l'amour du travail bien fait.</p>
        </div>
        <div class="feature">
          <i class="fas fa-check"></i>
          <p>Attentifs à leur présentation.</p>
        </div>
        <div class="feature">
          <i class="fas fa-check"></i>
          <p>Garants de la propreté du chantier.</p>
        </div>
      </div>
    </section>

    <footer>
      <div class="foot">
        <div class="gol">
          <img src="/public/img/elec-appli.png" alt="" class="app" />
        </div>
        <div class="footer-links">
          <ul class="toof">
            <li><a href="./" class="pareil">Accueil</a></li>
            <li><a href="/services" class="pareil">Services</a></li>
            <li><a href="/apropos" class="pareil"> À Propos</a></li>
            <li><a href="/avis" class="pareil"> Avis</a></li>
            <li><a href="/contact" class="pareil">Contact</a></li>
          </ul>
        </div>
        <div class="footer-contact">
          <p>Adresse : 30 rue des Graves bât B, 31780 Castelginest</p>
          <p>Téléphone : 06.41.08.58.11</p>
          <p>Email : fagoua_placide@hotmail.com</p>
        </div>
      </div>
      <div class="footer-bottom">
        <p>&copy; 2023 ELEC APPLICATION ET INGENIERIE - Tous droits réservés</p>
      </div>
    </footer>
    <script src="/public/js/index.js"></script>
  </body>
</html>
