#a-propos {
  margin-top: 5%;
}
#a-propos .content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  flex-direction: column;
}

.freezer:checked ~ nav .navbar-toggler {
  margin-top: 30px;
  position: absolute;
  z-index: 1;
  top: 1%;
  right: 5%;
}
.golo {
  position: absolute;
  top: 73%;
  width: 450px;
  bottom: 22%;
  margin: auto;
  display: flex;
}

.apple{
margin-top: 3%;
  margin-left: 32%;
}
.image-container img {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  transition: transform 0.4s, box-shadow 0.4s;

}
.image-container img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.6);
  transition: transform 0.4s, box-shadow 0.4s;

}
@media screen and (max-width: 900px) {
  .image-container img{
    width: 95%;
  }
}
.elec {
  width: 450px;
  margin-top: 10%;
}
@media screen and (max-width: 900px) {
  .scorpion {
    right: 3%;
  }
  #a-propos {
    margin-top: 19%;
  }
  #a-propos .content {
    display: block;
  }

  .apple {
    margin-top: 7%;

    margin-left: 32%;
    margin-bottom: 4%;
  }
  .golo {
    margin-top: 10%;
    position: initial;
    margin-bottom: 10%;
    width: 100%;
  }

  .freezer:checked ~ nav .navbar-toggler {
    margin-top: 7%;
    position: absolute;
    z-index: 1;
    top: 1%;
    right: 6%;
  }
  .elec {
    width: 100%;
    margin-top: 8%;
    margin-bottom: -15%;
    border-radius: 8px;
  }
}

@media screen and (max-width: 450px) {
  #a-propos {
    margin-top: 22%;
  }

  .apple {
    display: block;
    margin: auto;
    text-align: center;
  }

  .elec {
    margin-top: 8%;
    position: initial;
    margin-bottom: 10%;
    width: 100%;
    border-radius: 8px;
  }

}
