#a-propos .content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1%;
}

.freezer:checked ~ nav .navbar-toggler {
  margin-top: 30px;
  position: absolute;
  z-index: 1;
  top: 1%;
  right: 5%;
}
.golo {
  position: absolute;
  top: 73%;
  width: 480px;
  margin: auto;
  display: flex;
}
.image-container img{
  width: 60%;
  transition: transform 0.4s, box-shadow 0.4s;
  display: block;
  margin: 35px auto;
  padding: 8px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.6);
}
.image-container img:hover {
  z-index: 2;
  transform: scale(1.1);
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.6);

}
@media screen and (max-width: 900px) {
  .image-container img{
    width: 95%;
  }
}
.elec {
  width: 500px;
}
@media screen and (max-width: 991px) {
  .scorpion {
    right: 3%;
  }
  #a-propos {
    margin-top: 10%;
  }
  #a-propos .content {
    display: block;
  }

  .apple {
    margin-top: 7%;

    margin-left: 32%;
    margin-bottom: 4%;
  }
  .golo {
    margin-top: 8%;
    position: initial;
    margin-bottom: 10%;
    width: 100%;
  }

  .freezer:checked ~ nav .navbar-toggler {
    margin-top: 30px;
    position: absolute;
    z-index: 1;
    top: 1%;
    right: 11%;
  }
  .elec {
    width: 100%;
    margin-top: 8%;
    margin-bottom: -15%;
    border-radius: 8px;
  }
}

@media screen and (max-width: 450px) {
  #a-propos {
    margin-top: 14%;
  }

  .apple {
    display: block;
    margin: auto;
    text-align: center;
  }

  .elec {
    margin-top: 8%;
    position: initial;
    margin-bottom: 10%;
    width: 100%;
    border-radius: 8px;
  }

}
