.scorpion {
  top: 20%;}

.contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
  }
  
  .contact-info .info {
   text-align: center;
    align-items: center;
    justify-content: center;
    gap: 5%;
  }
  
  .contact-info .ho{
    margin: auto;
  }
  .contact-info .info i {
    margin-right: 10px;
    font-size: 20px;
  }
  
  .contact-info .info p {
    margin: 0;
    line-height: 1.7;
  }
  
  .info h4{
    margin-bottom: 2%;
  }
  
  .contact-info .info:last-child {
    margin-left: auto;
  }

  
  .map h2 {
    font-size: 24px;
  }
  
  form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  div {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  /* Ajouter des styles supplémentaires pour le dark mode */
  
  
 .map {
    margin-bottom: 18%;
}
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  .btn{
    padding: 10px 60px;
    border: 0;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
    background: #000000;
    color: #ffffff;
    outline: none;
  }

  .popup{
    width: 400px;
background: #ffffff;
    border-radius: 6px;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    position: absolute;
text-align: center;
padding: 0 30px 30px;
visibility: hidden;
transition: transform 0.4s, top 0.4s;
  }
  .open-popup{
    visibility: visible;
    transform: translate(-50%,-50%) scale(1);
    top: 50%;
  }
  .popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
  }

  .popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #ffffff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  .akat{
    margin-top: 50%;
    transform: translate(-50%,-50%);
    margin-left: 50%;
  }

  .kagami{
    margin-top: 10%;
    transform: translate(-50%,-50%);
    margin-left: 50%; 
    width: 400px;
    height: 350px;
    opacity: 0;
    visibility: hidden;
    border-radius: 3px;
    transition: .3s ease-in;
    box-shadow: rgba(0, 0, 0, 0.4);
    background: #ffffff;
  }

  #click{
    display: none;
  }

  #click:checked ~ .kagami{
    opacity: 1;
    visibility: visible;
  }
  .clickme{
    display: flex;
    align-self: center;
    justify-content: center;
    cursor: pointer;
  border-radius: 3px;
  line-height: 50px;
    width: 160px;
    height: 50px;
    background: #0056b3;
    margin: auto;
    color: #ffffff;
    font-size: 22px;
    text-align: center;
    border: 1px solid #26a65b;
  }

  .clickme:hover{
    background: #219150;
  }

  .eren{
    height: 68px;
    overflow: hidden;
    background: crimson;
    border-radius: 3px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);
  }

  .eren h2{
    color: #ffffff;
    margin-top: 3%;
    font-weight: normal;
  }

  .fa-times{
    position: absolute;
    right: 20px;
    top: 20px;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
  }
  .fa-check{
    font-size: 50px;
    width: 80px;
    height: 80px;
    text-align: center;
    padding-top: 13px;
    border-radius: 50%;
    border: 1px solid #27ae60;
    box-sizing: border-box;
    color: #219150;
    font-weight: bold;
    margin: 30px 0 0 160px;
  }


  .kagami p{
    font-size: 19px;
    padding-top: 15px;
    text-align: center;
  }

  .line{
    bottom: 45px;
    width: 100%;
    position: absolute;
    height: 1px;
    background: silver;
  }

  .close-btn{
    position: absolute;
    bottom: 0;
    right: 25px;
    padding-bottom: 3px;
    border: 1px solid #27ae60;
    padding: 8px 10px;
    font-size: 18px;
    cursor: pointer;
  }
  .close-btn:hover{
    color:  #ffffff;
    transition: .5s;
    background: crimson;
  }

  @media screen and (max-width:991px) {

   
    .scorpion {
    right: 9%;
    
    top: 9%;}

    .contact-info {
    display: block;}
h2 {
    font-size: 26px;}

    .map h2 {
      margin-bottom: 7%;
  }
    .contact-info .info {
    text-align: center;
    margin-bottom: 5%;}

    form {
    max-width: 550px;}
    

  .gol {
    margin-bottom: 6%;
}
  }

  @media screen and (max-width:750px) {
    .contact {
      margin-top: 15%;
  }
    
  }
  @media screen and (max-width:525px) {
    .contact {
      margin-top: 19%;
  }
    footer {
      margin-top: 8%;} 
  }